@model List<tbl_interview_details>

@{
    ViewBag.Title = "InterviewDetails";
}

@*@{
    var data = ViewBag.Message;
}*@


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/css/layoutstyles.css">
    <link rel="stylesheet" href="~/css/tablestyles.css">
</head>
<body>
    <h2>Interview Details</h2>
    <div class="table-wrapper">
        <table class="fl-table">
            <thead>
                <tr>
                    <th>CandidateID</th>
                    <th>Start time and date</th>
                    <th>End time and date</th>
                    <th>Status</th>
                    <th>Reason</th>
                </tr>
            </thead>


            <tbody>
                @foreach (var data in Model)
        {
                <tr>
                    <td>@data.candidate_id</td>
                    <td>@data.start_date_time</td>
                    <td>@data.end_date_time</td>
                    <td>@data.status_id</td>
                    <td>@data.reason</td>
                </tr>
        }
            </tbody>
        </table>
    </div>
    <div>
        <a asp-action="Index">Back to Dashboard</a>
    </div>


    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</body>

</html>