@model List<Candidate>

@{
    ViewBag.Title = "CandidatesDetails";
}

@*@{
        var data = ViewBag.Message;
    }*@


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/css/layoutstyles.css">
    <link rel="stylesheet" href="~/css/tablestyles.css">
</head>
<body>
    <h2>Candidate Details</h2>
    <div class="table-wrapper">
        <table class="fl-table">
            <thead>

                <tr>
                    <th>Id</th>
                    <th>First Name</th>
                    <th>Fast Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Source</th>
                    <th>Referred By</th>
                    <th>Total Experience</th>
                    <th>Relevant Experience</th>
                    <th>Current Employer</th>
                    <th>Current Designation</th>
                    <th>Position Applied For</th>
                    <th>Current Ctc</th>
                    <th>Expected Ctc</th>
                    <th>Reason For Change</th>
                    <th>Notice Period</th>
                    <th>Is Serving Notice</th>
                    <th>Last Working Day</th>
                    <th>Current Location</th>
                    <th>Process Stage</th>
                    <th>Process Stage Date</th>
                    <th>Process Start Date</th>
                    <th>Process End Date</th>
                    <th>Interview Status</th>
                    <th>Resume Owner</th>
                    <th>Owner For Reminder</th>
                    <th>Comments</th>
                    <th>Date Of Joining</th>
                    <th>Notes</th>
                    <th>Links For Interview</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var data in Model)
        {
                <tr>
                    @*<td>@data.id</td>*@
                    <td><a href="~/Home/InsertCandidates/@data.id" class="btn btn-default" onclick="Update">@data.id </a></td>
                    <td>@data.first_name</td>
                    <td>@data.last_name</td>
                    <td>@data.email</td>
                    <td>@data.phone</td>
                    <td>@data.source_name</td>
                    <td>@data.emp_ref</td>
                    <td>@data.total_experience</td>
                    <td>@data.relevant_experience</td>
                    <td>@data.current_employer</td>
                    <td>@data.current_designation</td>
                    <td>@data.position</td>
                    <td>@data.current_ctc</td>
                    <td>@data.expected_ctc</td>
                    <td>@data.reason_for_change</td>
                    <td>@data.notice_period</td>
                    <td>@data.is_serving_notice</td>
                    <td>@data.last_working_day</td>
                    <td>@data.current_location</td>
                    <td>@data.stage</td>
                    <td>@data.process_stage_date</td>
                    <td>@data.process_start_date</td>
                    <td>@data.process_end_date</td>
                    <td>@data.status</td>
                    <td>@data.owner</td>
                    <td>@data.remind</td>
                    <td>@data.comments</td>
                    <td>@data.date_of_joining</td>
                    <td>@data.notes</td>
                    <td>@data.links_for_interview</td>
                </tr>
        }
            </tbody>
        </table>
    </div>
    <div>
        <a asp-action="Index">Back to Dashboard</a>
    </div>


    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</body>

</html>