@model Recruit.Models.InterviewDetail
@using Kendo.Mvc.UI



@{
    if (ViewBag.SubmitValue == "Update")
    {
        <h1 align="center" style="color: white;">Update Interview Details</h1>
    }
    else
    {
        <h1 align="center" style="color: white;">Insert Interview Details</h1>
    }
}



<link rel="stylesheet" href="~/css/layoutstyles.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.6.5/dist/css/uikit.min.css" />
<style>
    .form-control {
        width: 80%;
    }
    .row {
        margin-right: 10%;
        margin-left: 20%;
    }
</style>

<body>



    <form asp-action="InsertInterviewDetails" class="form-horizontal" autocomplete="off">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="column">
                <label class="control-label">Candidate Id</label>
                <input asp-for="candidate_id" class="form-control" />
                <span asp-validation-for="candidate_id" class="text-danger"></span>
            </div>
            @*<div class="column">
                <label class="control-label">Candidate name</label>
                <input asp-for="first_name" class="form-control" disabled />
                <span asp-validation-for="first_name" class="text-danger"></span>
            </div>*@
            <div class="column">
                @*<label class="control-label">Interview Stage</label>
                <input asp-for="interview_stage" class="form-control" />
                <span asp-validation-for="interview_stage" class="text-danger"></span>*@
                <partial name="_InterviewStagesPartial" data=@TempData["ProcessStages"] />
            </div>
        </div>
        <div class="row">
            <div class="column">
                <label class="control-label">Interview Start Date and Time</label>
                <input asp-for="start_date_time" class="form-control" />
                <span asp-validation-for="start_date_time" class="text-danger"></span>
            </div>
            <div class="column">
                <label class="control-label">Interview End Date and Time</label>
                <input asp-for="end_date_time" class="form-control" />
                <span asp-validation-for="end_date_time" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="column">

                <partial name="_InterviewRoundStatusDropdownPartial" data=@TempData["status"] />

            </div>
            <div class="column">
                <label class="control-label">Reason</label><br />
                <textarea asp-for="reason" style="font-family:sans-serif;font-size:1.2em;"></textarea>                        
               @*<input asp-for="reason" class="form-control" />*@
                <span asp-validation-for="reason" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <!--<div>
                    <label class="control-label">Interviewers</label><br />
               
                    <span asp-validation-for="employee_id" class="text-danger"></span>
                </div>-->
                <partial name="_InterviewerPartial" data=@TempData["interviewers"]/>
                @*<label class="control-label">Interviewer Id</label>
                <input asp-for="employee_id" class="form-control" />
                <span asp-validation-for="employee_id" class="text-danger"></span>*@
            <!--</div>-->
                </div>
            <div class="column">
                @*<input type="submit" value="@ViewBag.SubmitValue" class="btn bg-primary" align="center" /><br />*@


                <a asp-action="Index">Back to Dashboard</a>

                @{
                    if (ViewBag.SubmitValue == "Update")
                    {
                        <div class="row">
                            <div class="column">
                                <input type="submit" value="Update" class="btn bg-primary" />

                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="row">
                            <div class="column">
                                <input type="submit" value="Add" class="btn bg-primary" />

                            </div>
                        </div>
                    }
                }
            </div>
        </div>




        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
    </form>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.5/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.5/dist/js/uikit-icons.min.js"></script>

</body>


@{
    if (@TempData["Msg"] != null)
    {
        if (TempData["Msg"] == "Data save Successfully" || TempData["Msg"] == "Data Updated Successfully")
        {
            <script>

        UIkit.notification({ message: '@TempData["Msg"]', status: 'success', timeout: 5000 })

           window.location.href = "@Url.Action("DisplayCandidatesDetails", "Home")";
            </script>
        }
        else
        {
            <script>

    UIkit.notification({ message: '@TempData["Msg"]', status: 'danger', timeout: 5000})


            </script>
        }

    }
} 